*{
	padding: 0px;
	margin: 0px;
	font-size:20px;
}
.bg{
	width: 1000px;
	margin: auto;
	background-color: #64BDF7;
	text-align: center;
}
.bg img{
	height: 200px;
}
.bg a{
	position: relative;
	top: -12px;
	color: white;
	text-decoration: none;
	background-color: #D9AFD9;
	background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}
#input1:checked ~ #tab_one,#input2:checked ~ #tab_two{
	display: block;
}
.tab{
	position: absolute;
	top: 165px;
	left:300px;
	
}
label{
	
	display: block;
	float: left;
	margin-right:40px;
	height: 30px;
	background-color: #D9AFD9;
	background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
	color: white;
}
a:hover,label:hover{
	background-color: #21D4FD;
	background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}
input{
	visibility: hidden;
}
#tab_one,#tab_two{
	display: none;
	line-height: 2em;
	position: absolute;
	top: 50px;
	padding: 20px;
	border-radius: 8px;
	background-color: #D9AFD9;
	background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}
#tab_one{
	width: 1000px;
}
p{
	color: darkblue;
	font-size: 16px;
}
#tab_two a{
	text-decoration: none;
	color: #EF629F;
}
#tab_two a:hover{
	font-size: 12;
	color: #333;
}

